*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nimbus;
    src: url('Nimbus\ Sans\ Extd\ D\ W01\ Light.ttf');
}

@font-face{
    font-family: Century Gothic;
    src: url('CenturyGothicPaneuropeanRegular.ttf');
}

.imagen{
    background-image: url("gossip.png");
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.logo {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.spotted{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-column {
    position: relative;
}
  
.custom-text {
    font-family: "Nimbus", sans-serif;
    margin: 0; 
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.special-font{
    font-family: "Century Gothic", sans-serif;
    margin: 0; 
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
  
#welcome {
    font-size: 32px;
    position: absolute;
    top: 130px; 
    left: 125px; 
    color: rgb(45,119,225); 
}
  
#texto1 {
    font-size: 14px;
    position: absolute;
    top: 174px; 
    left: 130px; 
    color: rgb(201, 201, 201);
    line-height: 1;
}

#gossip{
    font-size: 32px;
    position: absolute;
    top: 258px;
    left: 125px;
    color: rgb(255, 127, 53);
}

#texto2{
    font-size: 14px;
    position: absolute;
    top: 307px;
    left: 130px;
    color: rgb(201, 201, 201);
    line-height: 1;
}

#pics{
    font-size: 32px;
    position: absolute;
    top: 341px;
    left: 125px;
    color: rgb(235, 235, 138);
}

#texto3{
    font-size: 14px;
    position: absolute;
    top: 387px;
    left: 130px;
    color:rgb(201, 201, 201);
    line-height: 1;
}

.link1 {
    font-size: 14px;
    text-decoration: underline;
    color: rgb(110, 171, 255);
    position: absolute;
    top: 419px;
    left: 147px;
    cursor: pointer;
    z-index: 999; 
}

.link3 {
    font-size: 15px;
    text-decoration: underline;
    color: rgb(110, 171, 255);
    position: absolute;
    top: 515px;
    left: 130px;
    cursor: pointer;
    z-index: 999;
}
#parties{
    font-size: 32px;
    position: absolute;
    top: 445px;
    left: 125px;
    color: rgb(255, 118, 141);
}

#texto4{
    font-size: 14px;
    position: absolute;
    top: 492px;
    left: 130px;
    color:rgb(201, 201, 201);
    line-height: 1;
}


#texto42 {
    font-size: 14px;
    position: absolute;
    top: 515px;
    left: 225px;
    color: rgb(201, 201, 201);
}

#texto43 {
  font-size: 14px;
  position: absolute;
  top: 534px;
  left: 130px;
  color: rgb(201, 201, 201);
  line-height: 1;
}

#linkstexto{
  font-size: 32px;
  position: absolute;
  top: 555px;
  left: 125px;
  color: rgb(138, 161, 52);
}

.loguito {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 230px;
    width: 100%;
    box-sizing: border-box;
}

.loguito img {
    max-width: 72px;
    height: auto;
}

#loguito1,
#loguito2,
#loguito3,
#loguito4 {
    margin-bottom: 15px;
    transform: translateY(141px);
}


@media (max-width: 1360px){
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 800px;
        height: 110px;
        max-width: 800px;
    }

    .spotted{
        width: 370px;
        height: auto;
        transform: translate(-50%,-60%);
    }

    #izquierda{
        transform: translateX(-1%);
        max-width: -30%;
    }

    #derecha{
        transform: translateX(10%);
        max-width: -30%;
    }
}



@media (max-width: 995px){
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 800px;
        height: 110px;
        max-width: 800px;
    }

    .spotted{
        width: 370px;
        height: auto;
        transform: translate(-50%,-60%);
    }

    #izquierda{
        transform: translateX(-10%);
        max-width: -30%;
    
    }

    #derecha{
        transform: translateX(30%);
        max-width: -30%;
    }
    
}

@media (max-width: 768px){
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 600px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 340px;
        height: auto;
        transform: translate(-34%,-110%);
    }

    #izquierda{
        transform: translateX(-60px);
    }
    
    #derecha{
        transform: translateX(240px);
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 600px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 200px;
        height: auto;
        transform: translate(-50%,-43%);
    }

    #izquierda{
        transform: translateX(-60px);
    }
    
    #derecha{
        transform: translateX(240px);
    }
}

@media (max-width: 643px){
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 600px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 280px;
        height: auto;
        transform: translateX(-35%) translateY(-50%);
    }

    #izquierda{
        transform: translateX(-65px);
    }

    #derecha{
        transform: translateX(250px) translateY(-20px);
    }
}

@media (max-width: 667px) and (orientation: landscape){
    .imagen {
        background-size: cover; 
        background-position: center; 
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 600px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 150px;
        height: auto;
        transform: translateX(-50%) translateY(-40%);
    }

    #izquierda{
        transform: translateX(-65px);
    }

    #derecha{
        transform: translateX(250px) translateY(-20px);
    }
}

@media (max-width: 581px){
    .imagen {
        background-size: cover; 
        background-position: center;
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 370px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 160px;
        height: auto;
        transform: translateX(-81%) translateY(-155%);
    }

    #welcome{
        transform: translateX(-20px) translateY(450px);
        scale: 0.5
    }

    #texto1{
        transform: translateX(10px) translateY(300px);
        scale: 0.7
    }

    #gossip{
        transform: translateX(300px) translateY(200px);
        scale: 0.5
    }

    #texto2{
        transform: translateX(220px) translateY(130px);
        scale: 0.7
    }

    #pics{
        transform: translateX(300px) translateY(150px);
        scale: 0.5
    }

    #texto3{
        transform: translateX(225px) translateY(90px);
        scale: 0.7
    }

    .link1{
        transform: translateX(220px) translateY(85px);
        scale: 0.7
    }
    
    #parties{
        transform: translateX(25px) translateY(10px);
        scale: 0.5
    }
 
    #texto4{
        transform: translateX(10px) translateY(-3px);
        scale: 0.7
    }

    .link3{
        transform: translateX(30px) translateY(5px);
        scale: 0.7
    }

    #texto42{
        transform: translateX(105px) translateY(135px);
    }
    
    #texto43{
        transform: translateX(100px) translateY(135px);
    }

    #linkstexto{
        transform: translateX(0px) translateY(-40px);
        scale: 0.8
    }

    #derecha{
        transform: translateX(205px) translateY(-30px); 
        scale: 0.7;
        max-width: 10%;
    }
}

@media (max-width: 480px){
    .imagen {
        background-size: cover; 
        background-position: center;
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 370px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 140px;
        height: auto;
        transform: translateX(-60%) translateY(-153%);
        position: fixed;
    }

    #welcome{
        transform: translateX(0px) translateY(380px);
        scale: 0.5
    }

    #texto1{
        transform: translateX(20px) translateY(245px);
    }

    #gossip{
        transform: translateX(280px) translateY(125px);
        scale: 0.5
    }
 
    #texto2{
        transform: translateX(200px) translateY(70px);
        scale: 0.7
    }

    #pics{
        transform: translateX(250px) translateY(60px);
        scale: 0.5
    }

    #texto3{
        transform: translateX(210px) translateY(30px);
        scale: 0.7
    }

    .link1{
        transform: translateX(210px) translateY(20px);
        scale: 0.7
    }
    
    #parties{
        transform: translateX(45px) translateY(-70px);
        scale: 0.5
    }

    #texto4{
        transform: translateX(20px) translateY(-67px);
        scale: 0.7
    }

    .link3{
        transform: translateX(35px) translateY(-50px);
        scale: 0.7
    }

    #texto42{
        transform: translateX(105px) translateY(135px);
    }
    
    #texto43{
        transform: translateX(100px) translateY(135px);
    }
 
    #linkstexto{
        transform: translateX(230px) translateY(-150px);
        scale: 0.7
    }

    #derecha{
        transform: translateX(205px) translateY(-30px);
        scale: 0.6
    }
}
@media (max-width: 375px){
    .imagen {
        background-size: cover; 
        background-position: center;
        position: fixed;
        min-width: 100%;
    }

    .logo1{
        width: 370px;
        height: 110px;
        max-width: 400px;
    }

    .spotted{
        width: 35%;
        height: auto;
        transform: translateX(-81%) translateY(-260%);
    }

    #welcome{
        transform: translateX(-50px) translateY(240px);
        scale: 0.5
    }

    #texto1{
        transform: translateX(-10px) translateY(140px);
        scale: 0.7
    }

    #gossip{
        transform: translateX(200px) translateY(90px);
        scale: 0.5
    }

    #texto2{
        transform: translateX(165px) translateY(40px);
        scale: 0.7
    }

    #pics{
        transform: translateX(200px) translateY(40px);
        scale: 0.5
    }

    #texto3{
        transform: translateX(160px) translateY(70px);
        scale: 0.7
    }

    .link1{
        transform: translateX(150px) translateY(70px);
        scale: 0.7
    }
    
    #parties{
        transform: translateX(-10px) translateY(-190px);
        scale: 0.5
    }

    #texto4{
        transform: translateX(-10px) translateY(-155px);
        scale: 0.7
    }

    .link3{
        transform: translateX(-10px) translateY(-190px);
        scale: 0.5
    }

    #texto42{
        transform: translateX(20px) translateY(95px);
    }
    
    #texto43{
        transform: translateX(20px) translateY(97px);
    }

    #linkstexto{
        transform: translateX(-40px) translateY(-275px);
        scale: 0.5
    }

    #derecha{
        transform: translateX(270px) translateY(-100px);  
        scale: 0.6
    }
}
